<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 align-middle text-center">
      <img src="{{artwork_url}}" class="img-fluid" alt="Artwork of {{name_en}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
		<table class="table">
  			<tbody>
  				<tr>
  					<th scope="row">Name</th>
  			    	<td>{{name_en}} (french: <strong>{{name_fr}}</strong>, japonais: <strong>{{name_jp}}</strong>)</td>
  			  	</tr>
                <tr>
  			    	<th scope="row">Types</th>
                    {{> partials/types types}}
  			  	</tr>
                <tr>
  			    	<th scope="row">Genus</th>
  			    	<td>{{genus}}</td>
  			  	</tr>
                <tr>
					<th scope="row">Height</th>
					<td>{{ff32 height}}m</td>
				</tr>
				<tr>
					<th scope="row">Weight</th>
					<td>{{ff32 weight}}kg</td>
				</tr>
                <tr>
					<th scope="row">Abilities</th>
					<td>
						<ol>
							{{#each abilities}}<li>{{this}}</li>{{/each}}
						</ol>
					</td>
				</tr>
				<tr>
					<th scope="row">Egg groups</th>
					<td>
						<ol>
							{{#each egg_groups}}<li>{{this}}</li>{{/each}}
						</ol>
					</td>
				</tr>
				<tr>
					<th scope="row">Hatch time</th>
					<td>{{steps_until_hatch}} steps</td>
				</tr>
				<tr>
					<th scope="row">Effort points</th>
					<td>
						<ul>
							{{#each effort_points}}<li>+{{this}} {{@key}}</li>{{/each}}
						</ul>
					</td>
				</tr>
				<tr>
					<th scope="row">Base experience</th>
					<td>{{base_experience}} exp.</td>
				</tr>
				<tr>
					<th scope="row">Experience at level 100</th>
					<td>{{pretty_i64 lvl_100_experience}} exp.</td>
				</tr>
				<tr>
					<th scope="row">Gender ratio</th>
					<td>
					{{#if gender_rates}}
					{{gender_rates.female}}% female, {{gender_rates.male}}% male 
					<div class="progress mw-75">
						<div class="progress-bar bg-female" role="progressbar" style="width: {{gender_rates.female}}%" aria-valuenow="{{gender_rates.female}}" aria-valuemin="0" aria-valuemax="100"></div>
  						<div class="progress-bar bg-male" role="progressbar" style="width: {{gender_rates.male}}%" aria-valuenow="{{gender_rates.male}}" aria-valuemin="{{gender_rates.female}}" aria-valuemax="100"></div>
					</div>
					{{else}} 
					Asexual
					{{/if}}
					</td>
				</tr>
				<tr>
					<th scope="row">Color</th>
					<td>{{color}}</td>
				</tr>
				<tr>
					<th scope="row">Capture rate</th>
					<td>{{capture_rate}}</td>
				</tr>
			</tbody>
		</table>
	  </div>
    </div>    
  </div>
</div>