<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 align-middle text-center">
      <img src="{{artwork_url}}" class="img-fluid" alt="Artwork of {{name_en}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
		<table class="table">
  			<tbody>
  				<tr>
  					<th scope="row">Name</th>
  			    	<td>{{name_en}} (french: <strong>{{name_fr}}</strong>, japanese: <strong>{{name_jp}}</strong>)</td>
  			  	</tr>
                <tr>
  			    	<th scope="row">Types</th>
                    {{> partials/types types}}
  			  	</tr>
                <tr>
  			    	<th scope="row">Genus</th>
  			    	<td>{{genus}}</td>
  			  	</tr>
                <tr>
					<th scope="row">Height</th>
					<td>{{ff32 height}}m</td>
				</tr>
				<tr>
					<th scope="row">Weight</th>
					<td>{{ff32 weight}}kg</td>
				</tr>
			</tbody>
		</table>
      </div>
    </div>    
  </div>
</div>