<div class="input-group input-group sticky-top my-2">
	<input id="search-input" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="input-search">
	<select id="search-lang" class="form-select" aria-label="Language search">
		<option value="en" selected>English</option>
		<option value="fr">French</option>
	</select>
	<button id="search-button" class="btn btn-primary" type="button">Search</button>
</div>

<div id="search-result" class="list-group w-100" >
	{{#each search_elements}}
		<div class="list-group-item list-group-item-action card search-element"  data-name-fr="{{search_name_fr}}" data-name-en="{{search_name_en}}">
			<div class="row">
				<div class="col-4"> 
					<img src="{{sprite}}" class="img-fluid rounded-start" alt="Sprite of {{display_name}}">
				</div>
				<div class="col-8">
					<p class="card-text">#{{id}} {{display_name}}</p>
				</div>
			</div>
			<a href="{{path}}" class="stretched-link"></a>
		</div>
	{{/each}}
</div>

<script>
	$("#search-result").hide();

	$("#search-button").click( () => {
		var input = $("#search-input").val().normalize('NFD').replace(/([\u0300-\u036f]|[^0-9a-zA-Z])/g, '').toLowerCase();
		$(".search-element").hide();
		var lang = $("#search-lang").val();
		$(".search-element").each(function() {
			var name = lang == "en" ? $(this).data("name-en") : $(this).data("name-fr");
			if (name.includes(input)) {
				$(this).show();
			}
		});
		$("#search-result").show();
	});
</script>